.invite {
  width: 100%;
  min-height: 100vh;
  background: var(--white);
}
.invite-scroll {
  width: 100%;
}
.invite-scroll-head {
  width: 100%;
  height: auto;
  background: #161819;
}
.invite-scroll-head .head-banner {
  width: 90%;
  height: 15.9375rem;
  margin-left: 5%;
  padding: 0;
  box-sizing: border-box;
  background: #161819;
  position: relative;
  overflow: hidden;
}
.invite-scroll-head .head-banner uni-image {
  width: 100%;
  position: absolute;
}
.invite-scroll-head .head-card {
  width: 100%;
  height: auto;
  padding: 0 0.9375rem 0.9375rem;
  box-sizing: border-box;
}
.invite-scroll-head .head-card-content {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  padding: 0.9375rem;
  box-sizing: border-box;
  background: var(--white);
}
.invite-scroll-head .head-card-content .content-title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invite-scroll-head .head-card-content .content-column {
  margin-top: 0.9375rem;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  background: var(--color-gray-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.9375rem;
  box-sizing: border-box;
}
.invite-scroll-head .head-card-content .content-column-item {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0.3125rem 0;
}
.invite-scroll-head .head-card-content .content-column-item uni-text:nth-of-type(2) {
  margin-top: 0.3125rem;
}
.invite-scroll-head .head-card-content .content-cell {
  margin-top: 0.9375rem;
  width: 100%;
  height: 2.75rem;
  border-radius: 0.5rem;
  padding: 0 0.625rem;
  box-sizing: border-box;
  background: var(--color-gray-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invite-scroll-head .head-card-content .content-cell .copy-icon {
  width: 1.1875rem;
  margin-left: 0.5rem;
}
.invite-scroll-head .head-card-content .content-buttons {
  margin-top: 1.25rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invite-scroll-head .head-card-content .content-buttons .button {
  width: calc(100% - 3.375rem);
  height: 2.75rem;
}
.invite-scroll-head .head-card-content .content-buttons .code-button {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;
  background: var(--color-gray-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.invite-scroll-head .head-card-content .content-buttons .code-button uni-image {
  width: 1.71875rem;
}
.invite-scroll-bottom {
  width: 100%;
  height: auto;
  padding: 0.9375rem;
  box-sizing: border-box;
}
.invite-scroll-bottom .bottom-cell {
  margin-top: 0.9375rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invite-scroll-bottom .bottom-cell:first-of-type {
  margin-top: 0;
}
.invite-scroll-bottom .bottom-card {
  margin-top: 0.9375rem;
  width: 100%;
  height: auto;
  padding: 0.9375rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: var(--color-gray-bg);
}
.invite-scroll-bottom .bottom-card-column {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.invite-scroll-bottom .bottom-card-column uni-text:nth-of-type(2) {
  margin-top: 0.3125rem;
}
.invite-scroll-bottom .bottom-card-row {
  width: 100%;
  height: 2.125rem;
  display: flex;
  align-items: center;
}
.invite-scroll-bottom .bottom-card-row uni-image {
  width: 0.75rem;
  margin-right: 0.5rem;
}
.invite-scroll-bottom .bottom-list {
  margin-top: 0.9375rem;
  width: 100%;
  height: auto;
  min-height: 27.5rem;
  padding-bottom: 6.25rem;
  box-sizing: border-box;
}
.invite-scroll-bottom .bottom-list .not-data {
  width: 100%;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invite-scroll-bottom .bottom-list-cell {
  width: 100%;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invite-scroll-bottom .bottom-list-cell uni-text {
  line-height: 2.75rem;
}
.invite-scroll-bottom .bottom-list-cell .user-info {
  height: 2.75rem;
  display: flex;
  align-items: center;
}
.invite-scroll-bottom .bottom-list-cell .user-info .rank-num {
  width: 1.40625rem;
  text-align: center;
  margin-right: 0.3125rem;
}
.invite-scroll-bottom .bottom-list-cell uni-image {
  width: 1.40625rem;
  margin-right: 0.3125rem;
}
.invite-scroll .fixed-button {
  width: 100%;
  height: auto;
  padding: 0.625rem 0.9375rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.invite-scroll .fixed-button-top {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.3125rem;
}
.qrcode-popup {
  width: 15.625rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.qrcode-popup .qrcode-head {
  width: 100%;
  height: auto;
  padding: 0.9375rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0.5rem;
}
.qrcode-popup .qrcode-head .cell {
  display: flex;
  align-items: center;
}
.qrcode-popup .qrcode-head .cell:nth-of-type(2) {
  margin-top: 0.9375rem;
}
.qrcode-popup .qrcode-head .cell uni-image {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 0.3125rem;
  margin-right: 0.625rem;
}
.qrcode-popup .qrcode-head .code-box {
  padding: 1.875rem 0.9375rem;
  box-sizing: border-box;
  background-color: var(--color-gray-bg);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.9375rem;
}
.qrcode-popup .qrcode-head .code-box .code-canvas {
  width: 7.5rem;
  height: 7.5rem;
  background-color: var(--color-gray-bg);
  margin-bottom: 0.625rem;
}
.qrcode-popup .qrcode-head .code-box uni-text {
  margin-bottom: 0.625rem;
}
.qrcode-popup .qrcode-head .code-box uni-text:last-of-type {
  margin-bottom: 0;
}
.qrcode-popup .qrcode-close {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: var(--color-gray-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
}
.poster-popup {
  width: 100%;
  height: 100vh;
  position: relative;
}
.poster-popup .poster-top {
  width: 100%;
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poster-popup .poster-top .poster-canvas {
  width: 300px;
  height: 500px;
  border-radius: 0.5rem;
  background-color: #161819;
  overflow: hidden;
}
.poster-popup .poster-bottom {
  width: 100%;
  height: 18vh;
  background-color: var(--white);
  border-radius: 0.9375rem 0.9375rem 0 0;
  padding: 0.9375rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}
.poster-popup .poster-bottom .title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.poster-popup .poster-bottom .title .close-icon {
  position: absolute;
  right: 0;
}
.poster-popup .poster-bottom .group {
  margin-top: 0.9375rem;
  width: 100%;
  height: 4.375rem;
  display: flex;
  align-items: center;
}
.poster-popup .poster-bottom .group .item {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.poster-popup .poster-bottom .group .item uni-image {
  width: 2.0625rem;
  height: 2.0625rem;
  border-radius: 50%;
  margin-bottom: 0.625rem;
}
