.popup-wrap {
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.popup-wrap-title {
  width: 100%;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.popup-wrap-title .close {
  position: absolute;
  right: 0.9375rem;
}
.popup-wrap-content {
  width: 100%;
  height: auto;
  padding: 0.9375rem;
  box-sizing: border-box;
}
.popup-wrap-content .label {
  width: 100%;
  height: auto;
}
.popup-wrap-content .label-input {
  margin-top: 0.5rem;
  width: 100%;
  height: 2.75rem;
  border-radius: 0.5rem;
  background: var(--color-gray-bg);
  padding: 0 0.625rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-wrap-content .label-input uni-input {
  width: calc(100% - 2.1875rem);
  height: 100%;
  font-size: 0.8125rem;
  color: var(--black);
}
.popup-wrap-content .button-box {
  width: 100%;
  height: 2.75rem;
  margin-top: 1.5625rem;
}
.line {
  width: 100%;
  height: 5px;
  background-color: #eee;
}
.setting {
  width: 100%;
  min-height: 100vh;
  background: var(--background-primary);
}
.setting .container-box {
  width: 100%;
  height: auto;
}
.setting .container-box-cell {
  width: 100%;
  height: 3rem;
  padding: 0 0.9375rem;
  box-sizing: border-box;
}
.setting .container-box-cell .cell-left {
  width: 55%;
  height: 2.75rem;
}
.setting .container-box-cell .cell-left uni-text {
  display: inline-block;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.setting .container-box-cell .cell-right {
  width: 60%;
}
.setting .container-box-line {
  width: 100%;
  height: 0.5rem;
  background: var(--background-secondary);
}
